.heart__element {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../../../images/heart.svg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 22px;
  height: 19px;
  cursor: pointer;

  opacity: 1;
  transition: opacity 0.3s ease;
}

.heart__element:hover {
  opacity: .5;
}
