.heart {
  border: 0;
  background-image: url("../../images/heart.svg");
  background-color: rgba(0, 0, 0, 0);
  width: 22px;
  height: 19px;
  cursor: pointer;

  opacity: 1;
  transition: opacity 0.3s ease;
}

.heart:hover {
  opacity: .5;
}
