.popup__close-button{
  margin: 0;
  padding: 0;
  border: 0;

  background: url(../../../images/close-button.svg) center/cover rgba(0, 0, 0, 0);

  width: 32px;
  height: 32px;

  position: absolute;
  top: -42px;
  right: -40px;

  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    right: 0;
    width: 28px;
    height: 28px;
    top: -36px;
  }
}

@media screen and (max-width: 424px) {
  .popup__close-button{
    right: 0;
    width: 20px;
    height: 20px;
    top: -36px;
  }
}
