.profile__info {
  margin: 0;

  display: grid;
  grid-template-areas:
    "avatar title add-btn"
    "avatar subtitle add-btn";
  grid-template-columns: min-content minmax(0, 1fr) min-content;
  align-items: center;
  column-gap: 30px;
}

@media screen and (max-width: 424px) {
  .profile__info {
    grid-template-areas:
    "avatar"
    "title"
    "subtitle"
    "add-btn";
    column-gap: unset;
    grid-template-columns: 1fr;
    justify-items: center
  }

}
