.profile__job {
  grid-area: subtitle;
  align-self: flex-start;
  margin: 6px 0 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  width: 100%;
  max-width: 550px;
}

@media screen and (max-width: 767px) {
  .profile__job {
    font-size: 13px;
  }
}

@media screen and (max-width: 424px) {
  .profile__job {
    text-align: center;
    font-size: 14px;
    margin-top: 9px;
  }
}

